In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import Select, WebDriverWait
from selenium.webdriver.common import keys
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException

In [8]:
import mysql.connector
from mysql.connector import errorcode

# making connection to the ALREADY CREATED dabase 'rotten_tomato_series'
rotten_db= mysql.connector.connect(
    user= 'root',
    password= 'Hotm@il0',
    database= 'rotten_tomato',
    host= '127.0.0.1'
    )

sql= "CREATE TABLE SERIES_2020 (NAME CHAR(250) NOT NULL, ID INT, Meta_Scr CHAR(100))"

my_cursor= rotten_db.cursor()
my_cursor.execute(sql)

ProgrammingError: 1050 (42S01): Table 'series_2020' already exists

In [3]:
browser= webdriver.Chrome()

In [4]:
browser.get('https://editorial.rottentomatoes.com/guide/best-tv-shows-of-2020/')

# creating a CLASS constructor that takes object to CREATE new instances
class get_element(object):
    
    # initiatlizing the LOCATOR for elements and number of elements
    def __init__(self, locator, n):
        self.locator= locator
        self.n= n
    
    # CALL function inbuilt, that will be automatically CALLED as an ATttibute when new instance is created
    # by taking browser
    def __call__(self, browser):
        
        element= browser.find_elements(*self.locator)
        
        if (len(element) >= self.n):
            return element
        else:
            return False

In [5]:
# waiting time for the BROWSER
browser.implicitly_wait(10) # wait for 10 seconds

In [6]:
# FIND THE RESULT of content 
div_element= browser.find_element_by_class_name('articleContentBody')

# LOCATE The title of web element
locator= (By.CLASS_NAME,'article_movie_title')

In [7]:
# create iteration of elements
title_names= 1

# create WHILE loop to ITERATE over the elements
while True:
    # Now using WEB DRIvER to excute SCRIPT for CONTENT from TOp to bottom
    # here, content is the DIV element
    series_id= 0
    browser.execute_script(
        'arguments[0].scrollTop= arguments[0].scrollHeight', div_element
    )
    
    # create TrY and Catch 
    # By creating an instacne iterate over the elements
    try:
        
        series_name= WebDriverWait( browser, 5).until(
            
            # create instance of CLASS OBJECT TO ITERATE AND locate the elemtns
            get_element(locator,title_names + 1)
        )
    
    except TimeoutException as ec:
        break
    # now update the ITERATED COUNTS UNTIL the bottom element has been FOUND
    title_names= len(series_name)
    
    
    for i in series_name:
        print(series_id,i.text[:-3],'=>',i.text[-3:],'\n')
        
        
        series_1="""
        INSERT INTO rotten_tomato.series_2020(ID, NAME, Meta_Scr) VALUES(%s, %s, %s)"""
        
        # execute the QUERRY into the database
        series_info= (series_id, i.text[:-3], i.text[-3:])
        
        my_cursor.execute(series_1, series_info)
        series_id+=1

0 RAISED BY WOLVES: SEASON 1 (2020)
 => 72%

1 NOUGHTS + CROSSES: SEASON 1 (2020)
 => 73%

2 WESTWORLD: SEASON 3 (2020)
 => 73%

3 I KNOW THIS MUCH IS TRUE: MINISERIES (2020)
 => 74%

DataError: 1406 (22001): Data too long for column 'NAME' at row 1

In [ ]:
# AFTER complete ITERATIION, the browser will QUIT
browser.quit()