# MySQL DATABASE

In [1]:
import mysql.connector

In [2]:
# SOME example with MySQL querries

mysql_conn= mysql.connector.connect(
    host='localhost',
    user= 'root',
    password= 'Hotm@il0',
    database= 'student')

In [3]:
# DEFINING the cursor OBJECT
cursor= mysql_conn.cursor()

In [4]:
# CREATE a student TABLE 
sql_one= "CREATE TABLE student_info (NAME CHAR(30) NOT NULL, AGE INT, GENDER CHAR(8), GRADE INT)"

In [7]:
# execute the QUERRY
cursor.execute(sql_one)

# AFTER Executing the ABOVE query, NEW table has been already CREATED, so running again gives an ERROr

In [8]:
# INSERTING new elements on the TABLE

#student_one= "INSERT INTO student (NAME, AGE, GENDER, GRADE) VALUES(?,?,?,?)"
#student_info= ("hirosima", 28, "M", 12)
#cursor.execute(student_one, student_info)


student_one="""INSERT INTO student.student_info (NAME, AGE, GENDER, GRADE) VALUES(%s, %s, %s, %s)"""
               
student_info= ("hirosima", 28, "M", 12)
cursor.execute(student_one, student_info)

# commiting after making changes
mysql_conn.commit()