In [1]:
import sqlite3


# in memory datbae = ':memory:'
# for filename database= 'employee.db'

conn= sqlite3.connect('employee.db') # new DB created on same PATH if not created BEFORE

In [3]:
# CURSOR
c= conn.cursor()

# Executing SQL querries giving DATA types

c.execute("""CREATE TABLE employees (
        first text,
        last text,
        pay integer
        )""")

# for CONNECTIOn, commits for CURRENT transaction
conn.commit()

# closing the connection after commit
conn.close()

OperationalError: table employees already exists

In [4]:
# EXECUTE new quries to store NEW employee INFO
c.execute("INSERT INTO employees VALUES('hirosima', 'yamaguchi', 50000)")
conn.commit()

In [5]:
# SELECT the entered QUERRIES

c.execute("SELECT * FROM employees WHERE last='yamaguchi'")

# returns the selected element
# fecthmany=5 selects upto 5 elements
# fetchall= returns entire row or empty list
#print(c.fetchone())

# prints RESULT as LIST
print(c.fetchall())

# commit the changes of the SQL querry
conn.commit()
conn.close()

[('hirosima', 'yamaguchi', 50000), ('hirosima', 'yamaguchi', 50000), ('hirosima', 'yamaguchi', 50000), ('hirosima', 'yamaguchi', 50000), ('hirosima', 'yamaguchi', 50000)]