In [10]:
import numpy as np
import pandas as pd 
import os

files= os.listdir('.')
print(files)
# reshape example

var= pd.DataFrame({'one': np.arange(1,11), 'two': np.arange(10,20)})

['.ipynb_checkpoints', 'Trending_stocks_webscraping.ipynb', 'Untitled.ipynb', 'using_beautiful_soup.ipynb']

In [22]:
var

   one  two
0    1   10
1    2   11
2    3   12
3    4   13
4    5   14
5    6   15
6    7   16
7    8   17
8    9   18
9   10   19

In [12]:
np.unique(var['one'])

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [3]:
var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     10 non-null     int32
 1   two     10 non-null     int32
dtypes: int32(2)
memory usage: 208.0 bytes

In [13]:
# tuple
var_two= (8,9)

In [19]:
var_two[-2]

8

In [23]:
num =2
[num in var['one']]

[True]