In [1]:
import pandas as pd
%load_ext sql

# some sql querries

In [2]:
%sql sqlite://

In [3]:
%%sql

CREATE TABLE sales
(
    key varchar(6),
    TIME timestamp,
    product integer,
    completed boolean,
    price float
);

 * sqlite://
Done.

[]

In [4]:
%%sql
INSERT INTO sales
VALUES('sale_1', '2020-12-13 02:50', 1, TRUE, 1.3)

 * sqlite://
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM sales;

 * sqlite://
Done.

[('sale_1', '2020-12-13 02:50', 1, 1, 1.3)]