# MySQL DATABASE

In [1]:
import mysql.connector

In [12]:
# SOME example with MySQL querries

mysql_conn= mysql.connector.connect(
    host='localhost',
    user= 'root',
    password= 'Hotm@il0',
    database= 'rotten_tomato_series')

In [13]:
# DEFINING the cursor OBJECT
cursor= mysql_conn.cursor()

In [14]:
# CREATE a student TABLE 
sql_one= "CREATE TABLE STUDENT (NAME CHAR(30) NOT NULL, AGE INT, GENDER CHAR(8), GRADE INT)"

In [15]:
# execute the QUERRY
#cursor.execute(sql_one)

# AFTER Executing the ABOVE query, NEW table has been already CREATED, so running again gives an ERROr

In [19]:
# INSERTING new elements on the TABLE

#student_one= "INSERT INTO student (NAME, AGE, GENDER, GRADE) VALUES(?,?,?,?)"
#student_info= ("hirosima", 28, "M", 12)
#cursor.execute(student_one, student_info)


student_one='''INSERT INTO rotten_tomato_series.STUDENT "(NAME, AGE, GENDER, GRADE)" VALUES(%s, %d, %s, %d)'''
               
student_info= ("hirosima", 28, "M", 12)
cursor.execute(student_one, student_info)

# commiting after making changes
mysql_conn.commit()

ProgrammingError: Not all parameters were used in the SQL statement